<div class="container">
  <h1 class="display-2 text-center text-capitalize mb-5">todo list</h1>

  <div class="container__form d-flex" >
    <form class="row gy-2 gx-3 align-items-start" *ngIf="formVisibility">
      <div class="col-auto">
        <input type="text" class="form-control" id="autoSizingInput" placeholder="Write Task" #newTodo>
        <label for="autoSizingInput" class="text-capitalize text-danger" *ngIf="tasknameMissing">{{warning}}</label>
      </div>

      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingSelect">Preference</label>
        <select class="form-select text-capitalize" id="autoSizingSelect" #newLevel>
          <option selected disabled="disabled" [ngValue]="undefined">Choose task level</option>
          <option [ngValue]="level.easy">{{level.easy}}</option>
          <option [ngValue]="level.medium">{{level.medium}}</option>
          <option [ngValue]="level.hard">{{level.hard}}</option>
        </select>
      </div>

      <div class="col-auto">
        <button class="btn btn-primary text-capitalize" (click)="addTask(newTodo.value, newLevel.value)">add</button>
      </div>
    </form>

    <button type="button" class="btn btn-primary text-capitalize" *ngIf="!formVisibility" (click)="showForm()">new task</button>
  </div>

  <div class="container__cards d-flex justify-content-between align-items-start flex-wrap mt-5">
    <div class="card col-lg-3 col-md-5 col-12 mb-3">
      <div class="card-header text-capitalize">
        <i class="fa-solid fa-list me-2"></i>
        {{status.todo}}
      </div>

      <div class="card-body">
        <ul class="list-group">
          <p class="fs-6 text-capitalize text-secondary" *ngIf="!todo.length">{{placeholderText}}</p>
          <ng-container *ngFor="let task of todo">
            <ng-container *ngIf="task">
              <li class="list-group-item fs-5 text-capitalize">{{task.taskName}}
                <div class="btn-container d-flex justify-content-end">
                  <button type="button" class="btn btn-danger" (click)="deleteTask(task.id)"><i class="fa-solid fa-trash-can"></i></button>
                  <button type="button" class="btn btn-primary mx-2" (click)="moveInProgress(task.id)"><i class="fa-solid fa-angle-right"></i></button>
                </div>
                <span class="badge" [ngClass]="addClass(task.taskLevel)">{{task.taskLevel}}</span>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="card col-lg-3 col-md-5 col-12 mb-3">
      <div class="card-header text-capitalize">
        <i class="fa-solid fa-list me-2"></i>
        {{status.inProgress}}
      </div>

      <div class="card-body">
        <ul class="list-group">
          <p class="fs-6 text-capitalize text-secondary" *ngIf="!inProgress.length">{{placeholderText}}</p>
          <ng-container *ngFor="let task of inProgress">
            <ng-container *ngIf="task">
              <li class="list-group-item fs-5 text-capitalize">{{task.taskName}}
                <div class="btn-container d-flex justify-content-end">
                  <button type="button" class="btn btn-primary mx-2" (click)="moveInTodo(task.id)"><i class="fa-solid fa-angle-left"></i></button>
                  <button type="button" class="btn btn-success" (click)="moveInDone(task.id)"><i class="fa-solid fa-angle-right"></i></button>
                </div>
                <span class="badge" [ngClass]="addClass(task.taskLevel)">{{task.taskLevel}}</span>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="card col-lg-3 col-md-5 col-12 mb-3">
      <div class="card-header text-capitalize">
        <i class="fa-solid fa-list me-2"></i>
        {{status.done}}
      </div>

      <div class="card-body">
        <ul class="list-group">
          <p class="fs-6 text-capitalize text-secondary" *ngIf="!done.length">{{placeholderText}}</p>
          <ng-container *ngFor="let task of done">
            <ng-container *ngIf="task">
              <li class="list-group-item fs-5 text-capitalize">{{task.taskName}}
                <div class="btn-container d-flex justify-content-end">
                  <button type="button" class="btn btn-primary mx-2" (click)="fromDoneToInProgress(task.id)"><i class="fa-solid fa-angle-left"></i></button>
                </div>
                <span class="badge" [ngClass]="addClass(task.taskLevel)">{{task.taskLevel}}</span>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
